.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table td {
    border: 1px solid #fff;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
}

table caption {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: capitalize;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
    transition: .3s all ease;
}

button:hover {
    background-color: #000;
    color: #fff;
}